.container {
  display: flex;
  justify-content: center;
}

.box {
  width: 25%;
  height: 200px;
  margin: 20px;
  background-color: beige;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-wrap: wrap;
  }
  .box {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
}
