.main-background {
  width: 100%;
  padding: 10px;
  height: 500px;
  background-image: url(../image/shoes.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-title {
  color: white;
  font-size: 80px;
  margin: 30px;
}

.main-post {
  color: aliceblue;
  font-size: 20px;
  margin: 30px;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  top: 100px;
  left: 100px;
}

.under_box {
  position: relative;
  padding-top: 5px;
  width: 60%;
  height: 300px;
  background-color: antiquewhite;
  text-align: center;
  border-radius: 15px;
  margin: auto;
  bottom: 150px;
}

.small_title {
  margin: 20px;
}

.small_text {
  margin: 20px;
}
